.App {
background-color: pink;
height: 900px;
width: 100vw;
margin: 0;
padding: 0;
overflow: hidden;
}

/* html {
  background-color: pink;
  height: 900px;
  width: 100vw;
  margin: 0;
  padding: 0;
  } */

.footerStyle{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.footerStyle button{
 width: 120px;
 height: 40px;
 margin-left: 10px;
 border-radius: 3px;
 color: white;
}

.footerStyle button:first-child{
 background-color: green;
 border: none;
 text-align: center;
 cursor: pointer;
 }

 .footerStyle button:last-child{
  background-color: red;
  border: none;
  text-align: center;
  cursor: pointer;
  }